-criton {{20 if FighterLevel < 3 or not "FighterLevel" in load_json(subclass) or load_json(subclass)["FighterLevel"] != "Champion" else  19 if FighterLevel < 15 else 18}} {{"""-f "Improved Critical|Beginning when you choose this archetype at 3rd level, your weapon attacks score a critical hit on a roll of 19 or 20." """ if FighterLevel >= 3 else ""}} {{"""-f "Superior Critical|Starting at 15th level, your weapon attacks score a critical hit on a roll of 18–20." """ if FighterLevel >= 15 else ""}}