-d "1d{{6 if FighterLevel < 10 else 8 if FighterLevel < 18 else 10}}" -f "Giant's Might|Once on each of your turns, one of your attacks with a weapon or an unarmed strike can deal an extra 1d{{6 if FighterLevel < 10 else 8 if FighterLevel < 18 else 10}} damage to a target on a hit."
