{{combat().current.remove_effect("Hidden")}} adv -f "Hidden|When a creature can't see you, you have advantage on attack rolls against it.
If you are hidden — both unseen and unheard — when you make an attack, you give away your location when the attack hits or misses."