-d "1d{{4 if RangerLevel < 6 else 6 if RangerLevel < 14 else 8}}" -f "Favored Foe|The first time on each of your turns that you hit the favored enemy and deal damage to it, including when you mark it, you can increase that damage by 1d{{4 if RangerLevel < 6 else 6 if RangerLevel < 14 else 8}}."